//Colors
$black: #212121;
$white: #fff;
$gray: #d9d9d9;
$gray2: #546e7a;
$blue: #00ABE1;
$blue2: #D3F5FF;
$green: #9EE700;
$green2: #E7FCBA;
$red: #ff0000;
$red2: #FFCDCD;

//Typography
$fontFamily: 'Inter',
sans-serif;

//Container
$breakpoint-xs: 0 !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;