@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.home {

  // INTRO
  &-intro {
    &-content {
      @include device(lg) {
        display: grid;
        grid-template-columns: 57rem auto;
        align-items: center;
        justify-content: space-between;
      }

      &_infos {
        margin: 0 0 5rem;

        @include device(lg) {
          margin: 0 0 7rem;
        }

        .buttons {
          display: flex;
          flex-direction: column;
          gap: 2.7rem;
          margin: 2.7rem 0 0;

          @include device(lg) {
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }

      &_logo {
        display: none;

        @include device(lg) {
          display: initial;
        }
      }
    }
  }

  // METHODS
  &-methods {
    margin: 0 0 5rem;

    @include device(lg) {
      margin: 0 0 7rem;
    }

    &-content {
      @include device(lg) {
        display: grid;
        grid-template-columns: 26rem 1fr;
        align-items: center;
        gap: 8.9rem;
      }

      &_image {
        display: none;

        @include device(lg) {
          display: initial;
        }
      }

      &_infos {

        .readMore {
          display: flex;
          justify-content: center;
          margin: 3rem 0 0;
        }
      }
    }
  }

  // STEPS
  &-steps {
    background-color: $gray;
    padding: 5rem 0;
    margin: 0 0 5rem;

    @include device(lg) {
      margin: 0 0 7rem;
    }

    &-content {
      display: grid;
      grid-template-columns: 17rem;
      justify-content: center;
      gap: 2rem;

      @include device(lg) {
        grid-template-columns: repeat(5, 17rem);
        justify-content: space-between;
        gap: 0;
      }

      &_step {
        text-align: center;

        .icone {
          margin: 0 0 1.5rem;
        }
      }
    }
  }

  // ROADMAP
  &-roadmap {
    margin: 0 0 5rem;

    @include device(lg) {
      margin: 0 0 7rem;
    }

    &-content {
      &_intro {
        .status {
          display: grid;
          gap: 1rem;
          margin: 0 0 5rem;

          @include device(lg) {
            margin: 0 0 7rem;
          }

          p {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin: 0;

            span {
              display: flex;
              width: 36px;
              height: 36px;
              border-radius: 50%;
              border: .1rem solid $black;

            }

            &:nth-child(2) {
              span {
                background-color: $blue;
              }
            }

            &:nth-child(3) {
              span {
                background-color: $green;
              }
            }

          }
        }
      }

      &_projects {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @include device(lg) {
          align-items: center;

        }

        .project {
          position: relative;

          &:nth-child(odd) {
            .project-status {
              p {
                @include device(lg) {
                  transform: translateX(25rem);
                  text-align: left;
                }
              }
            }

            .project-hover {
              right: 0;

              @include device(lg) {
                right: 5rem;
              }
            }

          }

          &:nth-child(even) {
            .project-status {
              p {
                @include device(lg) {
                  transform: translateX(-25rem);
                  text-align: right;
                }
              }
            }

            .project-hover {
              right: 0rem;

              @include device(lg) {
                left: 5rem;
                right: initial;
              }
            }
          }

          &:last-child {
            .project-status {
              padding: 0;

              &::before {
                display: none;
              }
            }
          }

          &-status {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 0 5rem;
            position: relative;
            gap: 1rem;

            @include device(lg) {
              justify-content: center;
              gap: initial;
            }

            &::before {
              content: '';
              width: .1rem;
              height: 5rem;
              background-color: $black;
              position: absolute;
              left: 1.7rem;
              bottom: 0;

              @include device(lg) {
                left: initial;
              }
            }

            span {
              display: flex;
              width: 3.6rem;
              height: 3.6rem;
              border-radius: 50%;
              border: .1rem solid $black;
              cursor: pointer;

              &.concluido {
                background-color: $green;
              }

              &.andamento {
                background-color: $blue;
              }

              &:hover {
                ~.project-hover {
                  @include device(lg) {
                    opacity: 1 !important;
                  }
                }
              }
            }

            p {
              min-width: 40rem;
              margin: 0;

              @include device(lg) {
                position: absolute;
              }

            }
          }

          &-hover {
            // width: 30rem;
            // height: 10rem;
            position: absolute;
            top: 0;
            opacity: 0;
            transition: all .3s ease-in-out;
            z-index: 1;

            // img{
            //   width: 100%;
            //   height: 100%;
            //   object-fit: cover;
            // }

            // &:hover {
            //   opacity: 1;

            //   @include device(lg) {
            //     opacity: initial;
            //   }
            // }
          }
        }
      }
    }
  }
}